@page "/"
@using Microsoft.AspNetCore.Http
@using MyFinances.Database.UserInfo

<h1>Hello, trader!</h1>

This app allows to search and save your favorities stocks and... is totally free, without any fee.
